# How does merge work - change values

In [33]:

# Define a dictionary containing employee data 
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K1', 'K1', 'K1', 'K1'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32],} 
   
# Define a dictionary containing employee data 
data0 = {'key': ['K0', 'K1', 'K2', 'K1'],
         'key1': ['K0', 'K0', 'K0', 'K0'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']} 
 
# Convert the dictionary into DataFrame  
df1 = pd.DataFrame(data1)
 
# Convert the dictionary into DataFrame  
df0 = pd.DataFrame(data0) 

res = pd.merge(df0, df1, how='outer', on=['key'])
 
res

  key key1_x    Address Qualification key1_y    Name  Age
0  K0     K0     Nagpur         Btech     K1     Jai   27
1  K1     K0     Kanpur           B.A     K1  Princi   24
2  K1     K0    Kannuaj        B.hons     K1  Princi   24
3  K2     K0  Allahabad          Bcom     K1  Gaurav   22
4  K3    NaN        NaN           NaN     K1    Anuj   32

# Merge all df to one df

In [44]:
from main import *
import pandas as pd

In [38]:
# get a list of all the column names in all the dataframes we downloaded from mongoDB 
all_columns = []
for i in range(len(df_list)):
    all_columns.append(df_list[i].columns)
all_columns

[Index(['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng',
        'geolocation_city', 'geolocation_state'],
       dtype='object'),
 Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
        'order_approved_at', 'order_delivered_carrier_date',
        'order_delivered_customer_date', 'order_estimated_delivery_date'],
       dtype='object'),
 Index(['product_category_name', 'product_category_name_english'], dtype='object'),
 Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
        'customer_city', 'customer_state'],
       dtype='object'),
 Index(['product_id', 'product_category_name', 'product_name_lenght',
        'product_description_lenght', 'product_photos_qty', 'product_weight_g',
        'product_length_cm', 'product_height_cm', 'product_width_cm'],
       dtype='object'),
 Index(['review_id', 'order_id', 'review_score', 'review_comment_title',
        'review_comment_message', 'review_creation_date',
        'review_answer_timestamp'],
       dtype='object'),
 Index(['order_id', 'payment_sequential', 'payment_type',
        'payment_installments', 'payment_value'],
       dtype='object'),
 Index(['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state'], dtype='object'),
 Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
        'shipping_limit_date', 'price', 'freight_value'],
       dtype='object')]

In [39]:
#read the column names and merge them using common keys and full outer join so as not to loose any information but drawback is that full outer join will introduce NaNs

final_df = pd.merge(df_list[1], df_list[5], on = "order_id", how = "outer")
final_df = pd.merge(final_df, df_list[6], on = "order_id", how = "outer")
final_df = pd.merge(final_df, df_list[8], on = "order_id", how = "outer")
final_df = pd.merge(final_df, df_list[3], on = "customer_id", how = "outer")
final_df = pd.merge(final_df, df_list[4], on = "product_id", how = "outer")
final_df = pd.merge(final_df, df_list[7], on = "seller_id", how = "outer")
final_df.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'review_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value', 'order_item_id', 'product_id',
       'seller_id', 'shipping_limit_date', 'price', 'freight_value',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_city',
       'customer_state', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'seller_zip_code_prefix', 'seller_city', 'seller_state'],
      dtype='object')

In [36]:
# not concatenating this as it will introduce NaN without adding much value unless we wish to need data for lattitude and longitude 
df_list[0].head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [37]:
# not concatenating this dataframe as it would not add value at present but only add NaN
df_list[2].head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

# EDA

In [43]:
#randomly see two rows just like df.head()
final_df[1000:1002]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,...,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state
1000,a7a423a542937b74dff48feaf2dd1126,247a290f66ea274a4e123ba15e1b086c,delivered,2017-07-21 19:03:50,2017-07-21 19:15:12,2017-07-24 14:47:27,2017-08-28 19:46:34,2017-08-18 00:00:00,e5db1be774e0342f0998a113baf22db5,1.0,...,33.0,523.0,3.0,584.0,16.0,11.0,13.0,14840.0,guariba,SP
1001,341d0ee42d08b192c88aaa1c360f97e9,b5e852d38cb35637d6e92026a54bc952,delivered,2017-11-29 12:07:47,2017-11-29 12:19:01,2017-12-01 15:39:04,2018-01-03 18:09:00,2017-12-22 00:00:00,f68b9b4ca3dafbd2951d3cdbfacb2811,3.0,...,33.0,523.0,3.0,584.0,16.0,11.0,13.0,14840.0,guariba,SP

In [65]:
# count number of duplicated cells just for fun
duplicated_count = 0
[duplicated_count+1 for value in final_df.duplicated() if value == True]
duplicated_count

#we can remove duplicates since we have date time and hence will not remove repeat orders
final_df = final_df.drop_duplicates()

In [66]:
#final_df.dtypes
#final_df.shape
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119143 entries, 0 to 119142
Data columns (total 39 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       119143 non-null  object
 1   customer_id                    119143 non-null  object
 2   order_status                   119143 non-null  object
 3   order_purchase_timestamp       119143 non-null  object
 4   order_approved_at              118966 non-null  object
 5   order_delivered_carrier_date   117057 non-null  object
 6   order_delivered_customer_date  115722 non-null  object
 7   order_estimated_delivery_date  119143 non-null  object
 8   review_id                      118146 non-null  object
 9   review_score                   118146 non-null  float64
 10  review_comment_title           13989 non-null   object
 11  review_comment_message         50245 non-null   object
 12  review_creation_date           118146 non-null  object
 13  review_answer_timestamp        118146 non-null  object
 14  payment_sequential             119140 non-null  float64
 15  payment_type                   119140 non-null  object
 16  payment_installments           119140 non-null  float64
 17  payment_value                  119140 non-null  float64
 18  order_item_id                  118310 non-null  float64
 19  product_id                     118310 non-null  object
 20  seller_id                      118310 non-null  object
 21  shipping_limit_date            118310 non-null  object
 22  price                          118310 non-null  float64
 23  freight_value                  118310 non-null  float64
 24  customer_unique_id             119143 non-null  object
 25  customer_zip_code_prefix       119143 non-null  int64
 26  customer_city                  119143 non-null  object
 27  customer_state                 119143 non-null  object
 28  product_category_name          116601 non-null  object
 29  product_name_lenght            116601 non-null  float64
 30  product_description_lenght     116601 non-null  float64
 31  product_photos_qty             116601 non-null  float64
 32  product_weight_g               118290 non-null  float64
 33  product_length_cm              118290 non-null  float64
 34  product_height_cm              118290 non-null  float64
 35  product_width_cm               118290 non-null  float64
 36  seller_zip_code_prefix         118310 non-null  float64
 37  seller_city                    118310 non-null  object
 38  seller_state                   118310 non-null  object
dtypes: float64(15), int64(1), object(23)
memory usage: 36.4+ MB

In [ ]:
# need to do label encoding, converting datetime from object to datetime, isna, skew plot, numerical and categorical